<ng-container>

  <!-- Search filter -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (input)="applyFilter($event)"  />
  </mat-form-field>
  <!-- end Search filter -->
  <!-- Filter dropdown -->
<mat-form-field>
  <mat-label>Solution</mat-label>
  <mat-select [(value)]="selectedFilterOption" (selectionChange)="selectionFilter()">
    <mat-option *ngFor="let option of filterOptions" [value]="option">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>
<!--end  Filter dropdown -->
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
   
  
    <!-- Id Column -->
    <ng-container matColumnDef="id"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Difficulty title Column -->
    <ng-container matColumnDef="difficultyTitle">
      <th mat-header-cell *matHeaderCellDef> Difficulty title </th>
      <td mat-cell *matCellDef="let element"> {{element.difficultyTitle}} </td>
    </ng-container>
  
    <!-- Solved Column -->
    <ng-container matColumnDef="solved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Solved </th>
      <td mat-cell *matCellDef="let element"> {{element.solved}} </td>
    </ng-container>
        <!-- Tag name Column -->
    <ng-container matColumnDef="tagsName">
      <th mat-header-cell *matHeaderCellDef> Tag Name </th>
      <td mat-cell *matCellDef="let element">
         @for (item of element.tags; track $index) {
          {{item.name}}
         }
      </td>
    </ng-container>
      <!-- Solution Column -->
    <ng-container matColumnDef="hasSolution">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Has Solution </th>
      <td mat-cell *matCellDef="let element"> {{element.hasSolution ? "Yes":"No"}} </td>
    </ng-container>

    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  <mat-paginator [pageSizeOptions]="[pageSizeOptions]" [length]="lengthValue" (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
  </mat-paginator>
  
  
  
  
  
</ng-container>